<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_cosmiccoach._tcp</string>
		<string>_cosmiccoach._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Cosmic Coach needs to access your local network to discover and connect to your other devices for syncing.</string>
</dict>
</plist>
